@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:ital,wght@0,100;0,400;1,300;1,400&family=Rubik&display=swap');
/*

FONT FAMILY LISTS <<<
Roboto
Rubik
Open Sans

COLOR <<<
Background color #FFFBE9
Button hover color #4F4557
Main color #435B66
Highlight(pink shade) #FFC6AC
*/



body {
	background-color: #fffbe9;
	margin: 0;
}




/*Header section*/
.container {
	display: flex;
	flex-wrap: wrap;
}

.header-nav {
	justify-content: space-between;
	margin: 30px 100px 100px 100px;
}

.reach-me {
	width: 150px;
	height: 40px;
	font-size: 20px;
	font-weight: 600;
	border: 1px solid #4F4557;
	border-radius: 5px;
	transition: background-color 1s ease;
	background-color: #FFFBE9;
}

.reach-me-button {
	text-decoration: none;
	color: #4F4557;
	font-family: Open Sans;
}

.reach-me:hover {
	color: #fff;
	background-color: #435B66;
	border: none;
	cursor: pointer;
}

.reach-me-button:hover {
	color: #FFC6AC;
}




/*Hero Section*/

.hero {
	margin-top: 20px;
	display: flex;
	padding-left: 150px;
}

.hero-message {
	width: 40vw;
	padding: 50px;

}

.hero-message h1 {
	font-family: Rubik;
	font-size: 3em;
	font-weight: 600;
}

.hero-message h2 {
	font-family: Rubik;
	font-size: 2em;
	font-weight: 500;
}

.hero-message button {
	width: 120px;
	height: 40px;
	font-size: 1.25em;
	font-family: Rubik;
	font-weight: 500;
	border-radius: 50px;
	transition: background-color 1s ease;
}

.hero-message button:hover {
	border: none;
	background-color: #A8A196;
}

.hero-message button:first-of-type {
	margin-right: 20px;
}

.hero-message h3 {
	font-family: Rubik;
	font-size: 1.5em;
	font-weight: 500;
}


.hero-image {
/*	background-color: yellowgreen;*/
	width: 600px;
	height: 450px;
}


/*.logo {
	width: 75px;
	height: 75px;
}*/




/*Project section*/

.project {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
}

.project h1 {
	font-family: Rubik;
	font-size: 3em;
	align-self: center;
	color: #435B66;
}

#project-category {
/*	width: 100%;*/
	display: flex;
	justify-content: center;
}

.project-category-list li {
	display: inline;
	width: 150px;
	height: 150px;
	padding: 10px;
	margin: 0px;
/*	border: 1px solid black;*/
	font-family: Open Sans;
}

.project-category-list > li > a {
	text-decoration: none;
	color: black;
}

.button-active {
	border: 1px solid black;
	border-radius: 3px;
	padding: 10px;
	background-color: black;
	color: #FFFBE9 !important;
	transition: 0.3s;
}

.button-active:hover {
	background-color: #4F4557;
}

#project-info-list {
	display: flex;
	justify-content: center;
	margin: 20px;
	margin-top: 40px;
	height: 40vh;
}

.project-info {
	display: none;
}

.shown {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 50vw;
}

.project-box-container {
	display: flex;
	width: 50vw;
	height: 400px;
	flex-direction: row;
	justify-content: space-between;
}

.project-box {
	width: 250px;
	height: 200px;
/*	border: 1px solid black;*/
	border-radius: 5px;
}

.project-box > a > img {
	width: 250px;
	height: 200px;
	object-fit: cover;
	object-position: 50% 0;
}

.project-box-card {
	width: 250px;
	height: 400px;
}

.project-box-card > h2 {
	font-family: Open Sans;
	font-size: 1.3em;
}

.project-box-card > h3 {
	font-family: Open Sans;
	font-size: .8em;
}

.project-box-card > button {
	padding: 5px 10px 5px 10px;
	border: 1px solid black;
	border-radius: 5px;
	font-family: Open Sans;
	font-size: 1em;
	background-color: #FFFBE9;
	transition: 0.4s;
}

.project-box-card > button:hover {
	background-color: #4F4557;
	color: #fff;
}



/*about-me section*/

.about-me {
	width: 100%;
	height: 450px;
/*	background-color: lightpink;*/
}


/*Contact form section*/

.contact-form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: 50vh;
/*	background-color: gray;*/
}



#contact-form-message {
	width: 200px;
	background-color: #435B66;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 0px;
	background-image: url("media/sendvector.svg");
}


#inquiry-form-container {
/*	border: 1px solid #F0F0F0;*/
/*	border-radius: 5px;*/
	width: 400px;
/*	height: 300px;*/
/*	margin: 50px;*/
	background-color: #FFC6AC;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-image: url("media/wavevector.svg");
}

#inquiry-form-description {
	font-family: rubik;
	font-size: 1.5em;
	font-weight: 600;
	padding: 20px 0 10px 50px;
	margin-top: 10px;
}

#inquiry-form {
	padding: 0 20px 0 50px;
}

#inquiry-form-container h2 {
	color: #3F2E3E;
}

#inquiry-form label {
	font-family: Rubik;
	font-size: 15px;
	line-height: 30px;
	color: #3F2E3E;
}

#inquiry-form input {
	height: 35px;
	width: 250px;
	border-radius: 5px;
	border: 1px solid gray;
	font-family: rubik;
}

#inquiry-form input::placeholder, textarea::placeholder {
	padding-left: 10px;
	padding-top: 5px;
	opacity: .8;
}

#inquiry-form input, textarea {
	margin-bottom: 10px;
}

#inquiry-form textarea {
	height: 50px;
	width: 250px;
	border-radius: 5px;
}

#inquiry-form button {
	margin-top: 10px;
	width: 120px;
	height: 35px;
	background-color: #3F2E3E;
	color: #fff;
	border: 0;
	border-radius: 5px;
	font-family: open sans;
	font-size: 1em;
	transition: 0.4s;
}

#inquiry-form button:hover {
	background-color: #445069;
}


.footer {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.footer-box {
	width: 80vw;
	height: 250px;
	background-color: #435B66;
	border-radius: 10px;
}


/*About me section*/

.about-me {
	display: flex;
/*	width: 1365.146px;*/
	width: 100%;
	height: 438px;
/*	flex-shrink: 0;*/
	padding: 50px;
	padding-left: 150px;
	gap: 177px;
	margin: 0;
	margin-bottom: 200px;
	background-color: #FFC6AC;
}

#message-box {
	width: 700px;
}

/*icon tests*/

#icon-container {
	display: flex;
	flex-wrap: wrap;
	width: 338px;
	height: 140px;
	gap: 32px;
}
#icon-container div {
	width: 60px;
	height: 60px;
}


#message-box h1 {
	font-family: Rubik;
	font-size: 3em;
	font-weight: 600;
	color: #435B66;
}

#message-box h3 {
	font-family: Rubik;
	font-size: 1.5em;
	font-weight: 500;
	color: #435B66;
}

#about-me-image {
	width: 488.15px;
}